<div id='user_nav'>
  <% if current_user %>
    Welcome, <%= current_user.name %>
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with twitter", '/auth/twitter' %>
  <% end %>
</div>
<div id="surveys">
  <ul>
    <%- @surveys.each do |survey| %>
      <li>
        <span>Question: <%= survey.question %></span><br/>
        <span>Result: <%= survey.result %></span><br/>
        <span class="show_survey"><%= link_to 'Show', survey_url(survey) %></span>&nbsp;|&nbsp;
        <span class="edit_survey"><%= link_to 'Edit', edit_survey_url(survey) %></span>
      </li>
    <%- end %>
  </ul>
</div>
<%= link_to 'New Survey', new_survey_url %>
    